.instructions {
  margin-top: 350px;
  text-align: center;
}

button {
  color: black;
  background-color: lightpink;
  height: 1cm;
}

h1 {
  font-size: 35pt;
  text-align: center;
  color: lightpink;
}

#canvas {
  width: 1000px;
  height: 550px;
  position: relative;
  margin-left: calc((100% - 1000px) / 2);
}

#fenceKey {
  width: 100px;
  rotate: 270deg;
  margin-bottom: 50px;
}

#arrowLeft {
  width: 100px;
}

#arrowRight {
  width: 100px;
}

.arrows {
  display: flex;
  justify-content: space-between;
}
